.vs/elbro/v15/.suo
.vs/elbro/v15/Server/sqlite3/db.lock
.vs/elbro/v15/Server/sqlite3/storage.ide
.vs/elbro/v15/Server/sqlite3/storage.ide-shm
.vs/elbro/v15/Server/sqlite3/storage.ide-wal
.vs/elbro/v14/.suo
x86/elbro.pdb
x86/elbro.exe
x86/elbro.vshost.exe
x86/elbro.vshost.exe.manifest
elbro/obj/Debug/Gecko.PropertiesDialog.resources
elbro/obj/Debug/Gecko.PromptDialog.resources
elbro/obj/Debug/Gecko.PasswordDialog.resources
elbro/obj/Debug/Gecko.ConfirmDialog.resources
elbro/obj/Debug/Gecko.ChromeDialog.resources
elbro/obj/Debug/elbro.Properties.Resources.resources
elbro/obj/Debug/elbro.pdb
elbro/obj/Debug/elbro.exe
elbro/obj/Debug/elbro.csprojResolveAssemblyReference.cache
elbro/obj/Debug/elbro.csproj.GenerateResource.Cache
elbro/obj/Debug/elbro.csproj.FileListAbsolute.txt
elbro/obj/Debug/elbro.csproj.CoreCompileInputs.cache
elbro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
elbro/obj/Debug/NAudio.Utils.ProgressLog.resources
elbro/obj/Debug/NAudio.Mp3StreamingPanel.resources
elbro/obj/Debug/NAudio.Gui.WaveViewer.resources
elbro/obj/Debug/NAudio.Gui.VolumeSlider.resources
elbro/obj/Debug/NAudio.Gui.Pot.resources
elbro/obj/Debug/NAudio.Gui.PanSlider.resources
elbro/obj/Debug/NAudio.Gui.Fader.resources
elbro/obj/Debug/elbro.fMediaMP3Stream_Demo.resources
run/elbro.exe
run/elbro.pdb
