
.vs/elbro/v15/.suo
.vs/elbro/v15/Server/sqlite3/db.lock
.vs/elbro/v15/Server/sqlite3/storage.ide
.vs/elbro/v15/Server/sqlite3/storage.ide-shm
.vs/elbro/v15/Server/sqlite3/storage.ide-wal
x86/elbro.pdb
x86/elbro.exe
elbro/obj/Debug/Gecko.PropertiesDialog.resources
elbro/obj/Debug/Gecko.PromptDialog.resources
elbro/obj/Debug/Gecko.PasswordDialog.resources
elbro/obj/Debug/Gecko.ConfirmDialog.resources
elbro/obj/Debug/Gecko.ChromeDialog.resources
elbro/obj/Debug/elbro.Properties.Resources.resources
elbro/obj/Debug/elbro.pdb
elbro/obj/Debug/elbro.exe
elbro/obj/Debug/elbro.csprojResolveAssemblyReference.cache
elbro/obj/Debug/elbro.csproj.GenerateResource.Cache
elbro/obj/Debug/elbro.csproj.FileListAbsolute.txt
elbro/obj/Debug/elbro.csproj.CoreCompileInputs.cache
elbro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
elbro/obj/Debug/NAudio.Utils.ProgressLog.resources
elbro/obj/Debug/NAudio.Mp3StreamingPanel.resources
elbro/obj/Debug/NAudio.Gui.WaveViewer.resources
elbro/obj/Debug/NAudio.Gui.VolumeSlider.resources
elbro/obj/Debug/NAudio.Gui.Pot.resources
elbro/obj/Debug/NAudio.Gui.PanSlider.resources
elbro/obj/Debug/NAudio.Gui.Fader.resources
elbro/obj/Debug/elbro.fMediaMP3Stream_Demo.resources
.vs/elbro/v14/.suo
x86/elbro.vshost.exe
x86/elbro.vshost.exe.manifest
elbro.sln
x86/v33/xul.dll
x86/v33/softokn3.dll
x86/v33/softokn3.chk
x86/v33/sandboxbroker.dll
x86/v33/omni.ja
x86/v33/nssdbm3.dll
x86/v33/nssdbm3.chk
x86/v33/nssckbi.dll
x86/v33/nss3.dll
x86/v33/msvcr100.dll
x86/v33/msvcp100.dll
x86/v33/mozjs.dll
x86/v33/mozglue.dll
x86/v33/mozalloc.dll
x86/v33/libGLESv2.dll
x86/v33/libEGL.dll
x86/v33/js-gdb.py
x86/v33/icuuc52.dll
x86/v33/icuin52.dll
x86/v33/icudt52.dll
x86/v33/IA2Marshal.dll
x86/v33/gmp-fake/1.0/fake.info
x86/v33/gmp-fake/1.0/fake.dll
x86/v33/gkmedias.dll
x86/v33/freebl3.dll
x86/v33/freebl3.chk
x86/v33/dictionaries/en-US.dic
x86/v33/dictionaries/en-US.aff
x86/v33/d3dcompiler_46.dll
x86/v33/D3DCompiler_43.dll
x86/v33/crashreporter.ini
x86/v33/breakpadinjector.dll
