
run/ellib.pdb
run/ellib.dll
ellib/obj/Debug/NAudio.Utils.ProgressLog.resources
ellib/obj/Debug/NAudio.Gui.WaveViewer.resources
ellib/obj/Debug/NAudio.Gui.VolumeSlider.resources
ellib/obj/Debug/NAudio.Gui.Pot.resources
ellib/obj/Debug/NAudio.Gui.PanSlider.resources
ellib/obj/Debug/NAudio.Gui.Fader.resources
ellib/obj/Debug/Gecko.PropertiesDialog.resources
ellib/obj/Debug/Gecko.PromptDialog.resources
ellib/obj/Debug/Gecko.PasswordDialog.resources
ellib/obj/Debug/Gecko.ConfirmDialog.resources
ellib/obj/Debug/Gecko.ChromeDialog.resources
ellib/obj/Debug/ellib.pdb
ellib/obj/Debug/ellib.dll
ellib/obj/Debug/ellib.csprojResolveAssemblyReference.cache
ellib/obj/Debug/ellib.csproj.GenerateResource.Cache
ellib/obj/Debug/ellib.csproj.FileListAbsolute.txt
ellib/obj/Debug/ellib.csproj.CoreCompileInputs.cache
ellib/obj/Debug/ellib.csproj.CopyComplete
ellib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ellib/obj/Debug/core2.UserControl1.resources
.vs/ellib/v15/Server/sqlite3/storage.ide
.vs/ellib/v15/Server/sqlite3/db.lock
.vs/ellib/v15/.suo
.vs/elbro/v15/.suo
.vs/elbro/v15/Server/sqlite3/db.lock
.vs/elbro/v15/Server/sqlite3/storage.ide
elbro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
elbro/obj/Debug/elbro.csproj.CopyComplete
elbro/obj/Debug/elbro.csproj.CoreCompileInputs.cache
elbro/obj/Debug/elbro.csproj.FileListAbsolute.txt
elbro/obj/Debug/elbro.csproj.GenerateResource.Cache
elbro/obj/Debug/elbro.csprojResolveAssemblyReference.cache
elbro/obj/Debug/elbro.exe
elbro/obj/Debug/elbro.pdb
elbro/obj/Debug/elbro.Properties.Resources.resources
run/elbro.exe
run/elbro.pdb
run/elapi.exe
run/elapi.pdb
run/elapi.exe
.vs/elapi/v15/.suo
.vs/elapi/v15/Server/sqlite3/db.lock
.vs/elapi/v15/Server/sqlite3/storage.ide
run/elapi.pdb
elapi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
elapi/obj/Debug/elapi.csprojResolveAssemblyReference.cache
elapi/obj/Debug/elapi.exe
elapi/obj/Debug/elapi.pdb
run/elapi.exe
run/elapi.pdb
/elapi/obj/Debug/elapi.csprojResolveAssemblyReference.cache
/elapi/obj/Debug/elapi.exe
/elapi/obj/Debug/elapi.pdb
/run/elapi.exe
/run/elapi.pdb
System.Core/obj/Debug/System.Core.pdb
System.Core/obj/Debug/System.Core.dll
System.Core/obj/Debug/System.Core.csprojResolveAssemblyReference.cache
System.Core/obj/Debug/System.Core.csproj.GenerateResource.Cache
System.Core/obj/Debug/System.Core.csproj.FileListAbsolute.txt
System.Core/obj/Debug/NAudio.Utils.ProgressLog.resources
System.Core/obj/Debug/NAudio.Mp3StreamingPanel.resources
System.Core/obj/Debug/NAudio.Gui.WaveViewer.resources
System.Core/obj/Debug/NAudio.Gui.VolumeSlider.resources
System.Core/obj/Debug/NAudio.Gui.Pot.resources
System.Core/obj/Debug/NAudio.Gui.PanSlider.resources
System.Core/obj/Debug/NAudio.Gui.Fader.resources
System.Core/obj/Debug/Gecko.PropertiesDialog.resources
System.Core/obj/Debug/Gecko.PromptDialog.resources
System.Core/obj/Debug/Gecko.PasswordDialog.resources
System.Core/obj/Debug/Gecko.ConfirmDialog.resources
System.Core/obj/Debug/Gecko.ChromeDialog.resources
System.Core/obj/Debug/elbro.fMediaMP3Stream_Demo.resources
System.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
run/elbro.vshost.exe.manifest
run/elbro.vshost.exe
.vs/System.Core/v14/.suo
.vs/elbro/v14/.suo
.vs/ellib/v14/.suo
elapi/obj/Debug/elapi.csproj.FileListAbsolute.txt
.vs/elapi/v14/.suo
/elapi/obj/Debug/elapi.csproj.CopyComplete
/elapi/obj/Debug/elapi.csproj.CoreCompileInputs.cache
/elapi/obj/Debug/elapi.csproj.FileListAbsolute.txt
elplay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
run/bin/ellib.pdb
run/bin/PdfiumViewer.pdb
run/elplay.vshost.exe.manifest
run/elplay.vshost.exe
run/elplay.pdb
run/elplay.exe
elplay/obj/Debug/elplay.pdb
elplay/obj/Debug/elplay.exe
elplay/obj/Debug/elplay.csprojResolveAssemblyReference.cache
elplay/obj/Debug/elplay.csproj.FileListAbsolute.txt
elplay/bin/Debug/elplay.vshost.exe.manifest
.vs/elplay/v14/.suo
ellib/obj/Debug/DesignTimeResolveAssemblyReferences.cache
elplay/obj/Debug/elplay.csproj.GenerateResource.Cache
elplay/obj/Debug/elplay.Resources.resources
elplay/obj/Debug/TempPE/Resources.Designer.cs.dll
elplay/obj/Debug/elplay.csproj.CoreCompileInputs.cache
.vs/elplay/v15/.suo
.vs/elplay/v15/Server/sqlite3/db.lock
.vs/elplay/v15/Server/sqlite3/storage.ide
eljob/eljob.csproj.user
eljob/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
eljob/obj/Debug/eljob.csproj.FileListAbsolute.txt
eljob/obj/Debug/eljob.csprojResolveAssemblyReference.cache
eljob/obj/Debug/eljob.exe
eljob/obj/Debug/eljob.pdb
debug/eljob.vshost.exe
debug/eljob.pdb
debug/eljob.exe
debug/eljob.vshost.exe.manifest
